* {
    margin: 0;
    padding: 0;
}

body {
    width: 80%;
    background: -o-linear-gradient(315deg , #D99E9E 30% , #60CAF3 70%);
    background: -o-linear-gradient(280deg , #D99E9E 30% , #60CAF3 70%);
    background: linear-gradient(170deg , #D99E9E 30% , #60CAF3 70%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 10% 0;
    margin: auto;

    header {

        margin-bottom: 100px;

        h1 {
            font-family: 'Salsa', cursive;
            text-align: center;
            color: white;
            font-size: 40px;
            line-height: 133.6%;
            margin-bottom: 40px;
            margin-top: 30px;
        }

        h4 {
            font-size: 20px;
            font-family: 'Salsa', cursive;
            margin-bottom: 10px;
        }

        ul {
            border-radius: 5px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: justify;
            -ms-flex-pack: justify;
            justify-content: space-between;
            list-style: none;
            border: 3px solid white;
            padding: 20px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;
}

           a {
            text-decoration: none;
            color: black;
            font-size: 32px;
            font-family: 'Salsa', cursive;
            background-repeat: no-repeat;
            background-position: 0 0;
            transition: color 0.15s , background-image 0.15s;
            -webkit-transition: color 0.15s , background-image 0.15s;
            -moz-transition: color 0.15s , background-image 0.15s;
            -ms-transition: color 0.15s , background-image 0.15s;
            -o-transition: color 0.15s , background-image 0.15s;
            }

            a:hover {
                color: white;
            }


           .html {
            background-image: url(../images/html-black.png);
            background-size: 50px;
            padding-left: 55px;
           }

           .html:hover {
            background-image: url(../images/html-WHITE.png);
           }

           .css {
            background-image: url(../images/Untitled-2.png);
            background-size: 40px 44.25px;
            padding-left: 45px;
           }

           .css:hover {
            background-image: url(../images/CSS-WHITE.png);
           }

           .git {
            background-image: url(../images/git-BLACK.png);
            background-size: 40px;
            padding-left: 45px;
           }

           .git:hover {
            background-image: url(../images/git.png);
           }
        }
    }


.button {
    display: inline-block;
    padding: 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    font-size: 24px;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
}

main {

    p.improve {
        margin-top: 40px;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;

        a {
            text-decoration: none;
        }
    }

    p.reminder {
        margin-top: 60px;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        text-align: center;
        padding: 30px 40px;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        border: 2px dotted black;
    }

    nav {
        margin-top: 50px;
        ul {
            list-style: none;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
            
            li {
                padding: 5px 10px;
                text-align: center;
                a {
                    display: inline-block;
                    padding: 20px 100px;
                    color: white;
                    background-color: #D99E9E;
                    text-decoration: none;
                    font-family: 'Kadwa', serif;
                    transition: color 0.15s, background-color 0.15s;
                    -webkit-transition: color 0.15s, background-color 0.15s;
                    -moz-transition: color 0.15s, background-color 0.15s;
                    -ms-transition: color 0.15s, background-color 0.15s;
                    -o-transition: color 0.15s, background-color 0.15s;
                }

                a:hover {
                    color: #D99E9E;
                    background-color: white;
                }
            }
        }
    }

    h1 {
        font-size: 50px;
        font-family: "Inter";
        font-weight: 200;
        text-align: center;
        margin-top: 100px;
    }
    
    div.container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-column-gap: 30px;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        margin-bottom: 100px;
        margin-top: 100px;
     

        article {

                h2 {
                    padding-top: 10px;
                    font-family: 'Salsa' , cursive;
                    font-size: 38px;
                    margin-bottom: 60px;
                }

                p {
                    font-size: 24px;
                    font-family: Arial;
                    line-height: 160%;

                    a {
                        text-decoration: none;
                    }
                }
        }

        div.extra {
            text-align: center;
           
            
            img {
                width: 200px;
            }

            ul {
                text-align: center;
                list-style: none;

                li {
                    margin: 10px;

                    a.first {
                        @extend .button;
                        font-family: 'Kadwa', serif;
                        color: white;
                        border: 3px solid black;
                    }

                    a.first:hover {
                        color: black;
                        border-color: white;
                    }

                    a.second {
                        @extend .button;
                        font-family: 'Kadwa', serif;
                        color: black;
                        background-color: white;
                    }

                    a.second:hover {
                        color: white;
                        background-color: black;
                    }
                }
            }
        }
    }
}

hr {
    border-color: black;
}


footer {

    background: -o-linear-gradient(340deg ,#050505 25% , #D99E9E 75% );

    background: -o-linear-gradient(340deg ,rgba(5,5,5,0.3) 25% , #D99E9E 75% );

    background: linear-gradient(110deg ,rgba(5,5,5,0.3) 25% , #D99E9E 75% );
    padding: 30px 0px;
    margin-top: 40px;

    p {
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        text-align: center;
    }
}